* {
  margin: 0;
  padding: 0;
}
body {



}

.name {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  font-weight: bold;
  font-size: xx-large;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-a;
  align-items: center;
}
.nav-links {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 18px;
  gap: 20px;
}

.hero-section h1 {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.hero-section h3 {
padding-top: 20px;
  text-align: center;
}
.content {
  /* padding-top: 25px; */
  display: flex;
  /* flex-direction: column; */
  justify-content:space-around;
  padding-top: 20px;
  /* flex-wrap: wrap; */
  
}
.Projects {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 0px solid black;
  width: 220px;
  align-items: center;
  list-style: none;
  padding-bottom: 5px;
  border: 2px solid black;
  background-color: #f2f2f2;

}
.work-experience {
  border-radius: 20px;
  display: flex;
  /* width: 150px; */
  flex-direction: column;
  justify-content: center;
  padding-left: 1px;
  align-items: right;
  margin-left: 0px;
  list-style: none;
  list-style-type: none;
  background-color: #f2f2f2;
  border: 2px solid black;

}
.education {
  border-radius: 20px;
  display: flex;
  /* width: 150px; */
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  border: 2px solid black;
  background-color: #f2f2f2;
}

.opensource,
.roadmap {
  border-top: 5px solid;
  width: 150px;
  padding-top: 5px;
  list-style: none;
  margin-bottom: 10px;
  border-color: black;
  border-bottom-left-radius: 150px;
  border-width: 1px;
  background-color: #f2f2f2;
}
.htmlproject {
  width: 150px;
  box-sizing: border-box;
  padding-top: 5px;
  list-style: none;
  margin-bottom: 10px;
  border-color: black;
  background-color: #f2f2f2;
}
.calculator {
  border-top: 5px solid;
  padding-top: 5px;
  list-style: none;
  margin-bottom: 10px;
  border-color: black;
  border-bottom-right-radius: 150px;
  border-width: 1px;
  background-color: #f2f2f2;
}
.quiz-app {
  border-top: 5px solid;
  padding-top: 5px;
  list-style: none;
  margin-bottom: 10px;
  border-color: black;
  box-sizing: border-box;
  border-width: 1px;
  background-color: #f2f2f2;
}
.countdown {
  border-top: 5px solid;
  padding-top: 5px;
  list-style: none;
  margin-bottom: 10px;
  border-color: black;
  border-width: 1px;
  background-color: #f2f2f2;
  
}
.reviews {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 5px;
}
.reviews h1 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding-top: 30px;
}
.review-heading h1 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding-top: 10px;
}

.review1 {
  width: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  list-style: none;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-color: black;
  border-radius: 20px;
}
.review2 {
  width: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  list-style: none;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-color: black;
  border-radius: 20px;
}
.review3 {
  width: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  list-style: none;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-color: black;
  border-radius: 20px;
}

.review-heading {
  padding-top: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  margin-left: 10;
}
.copyright {
  text-align: center;
}


@media screen and (max-width: 600px) {
  /* .review-heading h1 {

    padding-top: 250px;
  } */
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 600px) {
  /* .review-heading h1 {

    padding-top: 250px;
  } */
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

/* @media screen and (min-width: 510px) {
  /*for mobile
  .review-heading h1 {

    
    padding-top: 250px;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
  }
}


 /*@media screen and (min-width: 310px) {
    /*for mobile*
    .review-heading h1 {
  
      padding-top: 250px;
    }
    .content {
      height: 250px;
      padding-top: 200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
}

  
