*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;


}

section{
    min-height: auto;
    background-image: url("kia-1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
.container{
    width :   50px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
nav{
height: auto;
}
nav h1{
  height: auto;
  float: left;
  justify-items: center;
  display: flex;
}

